<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "./xsd/log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d - %p %c{1}.%M(%L) | %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMax" value="FATAL" />
            <param name="LevelMin" value="DEBUG" />
         </filter>
    </appender>

    <!-- File log -->
    <!--<appender name="FILE" class="org.apache.log4j.RollingFileAppender">-->
    	<!--<param name="File" value="${user.home}/App/logs/system.log"/>-->
    	<!--<param name="encoding" value="GBK"/>-->
    	<!--<param name="Append" value="true"/>-->
    	<!--<param name="MaxFileSize" value="10485760"/>-->
    	<!--<param name="MaxBackupIndex" value="1000"/>-->
    	<!--<layout class="org.apache.log4j.PatternLayout">-->
    		<!--<param name="ConversionPattern" value="%d - %p [%t] %c.%M(%L) | %m%n"/>-->
    	<!--</layout>-->
    	<!--<filter class="org.apache.log4j.varia.LevelRangeFilter">-->
            <!--<param name="LevelMax" value="FATAL" />-->
            <!--<param name="LevelMin" value="DEBUG" />-->
         <!--</filter>-->
    <!--</appender>-->
    
    <logger name="org.hibernate" additivity="false">
        <level value="INFO"/>
        <!--<appender-ref ref="FILE"/>-->
        <appender-ref ref="CONSOLE"/>
    </logger>
    
	<logger name="org.hibernate.transaction" additivity="false">
		<level value="INFO"/>
	    <appender-ref ref="CONSOLE"/>
	</logger>
    
    <logger name="org.springframework" additivity="false">
        <level value="ERROR"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    
    <logger name="org.apache.struts2" additivity="false">
        <level value="ERROR"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="com.opensymphony.xwork2" additivity="false">
        <level value="ERROR"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

	<logger name="org.wangbiao" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    
    <root>
        <level value="INFO"/>
        <appender-ref ref="CONSOLE"/>
        <!--<appender-ref ref="FILE"/>-->
    </root>

</log4j:configuration>
